* {border: 0.3px blue solid !important;}

html {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  color: rgb(91, 102, 104);
  background-color: rgba(245, 245, 245, .8);
}

html h1 {
  font-size: 3rem;
  color: rgba(76, 169, 165, 1);
  font-weight: bold;
}

main h3 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

            /* HEADER */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: rgba(245, 245, 245, 1);
}

header img {
  height: 4rem;
  width: auto;
  margin-left: 1rem;
}

nav {
  display: flex;
  margin-right: 2rem;
}

nav li  {
  list-style: none;

}

nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-left: 2rem;
  color: rgba(91, 102, 104, 0.7);
  font-weight: bold;
  font-size: 1.2rem;
}

nav a:hover {
  color: rgba(91, 102, 104, 1);
}

#link-main:visited {
  color: rgba(76, 169, 165, 1);
}

            /* MAIN */

main {
  padding: 7rem 0 0 0;
}

            /* MAIN  FIRST */

#first {
  display: grid;
  grid-template: 1fr 2fr / auto;
  background-color: rgba(43, 43, 45, 1);
  height: auto;
  width: 100%;
}
