/* {border: solid 1px blue !important;} */

html {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  color: rgb(91, 102, 104);
  background-color: rgba(245, 245, 245, .8);
}

            /* HEADER */

header {
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: rgba(245, 245, 245, 1);
}

nav{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  padding-top: 0.5rem;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: rgba(91, 102, 104, 1);
}

nav a:hover {
  color: rgba(55, 62, 64, 1);
}

nav img {
  height: 4rem;
  width: auto;
}

            /* MAIN */

main {
  padding: 6rem 2rem 3rem 2rem;
  max-width: 100%;
  height: auto;
}

            /* MAIN FIRST */

.first-box {
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(3rem, auto);
  grid-gap: 1rem;
  background-color: rgba(232, 232, 232, 1);
}

.first-box h1 {
  width: 100%;
  grid-area: 1 / 1 / 2 / 6;
  font-size: 2.2rem;
  font-weight: bold;
  color: rgba(76, 169, 165, 1);
}

.first-box h3 {
  grid-area: 3 / 1 / 4 / 6;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(91, 102, 104, 1);
}

.first-box img {
  max-height: 100%;
  width: 100%;
  grid-area: 2/1/3/6;
}

              /* MAIN SECOND */

.second-box {
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(5rem, auto);
  grid-gap: 1.5rem;
  background-color: rgba(232, 232, 232, 1);
  margin: 2rem 0 2rem 0;
}

.second-box h3 {
  align-self: center;
  justify-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(91, 102, 104, 1);
}

.second-box h4 {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(91, 102, 104, .8);
}

.second-box img {
  max-height: 100%;
  width: 100%;
}

            /* FOOTER */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(4rem, auto);
  grid-gap: 1.5rem;
  background-color: rgba(233, 233, 233, 1);
  justify-items: center;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  color: rgba(91, 102, 104, 1);
  font-weight: bold;
  font-size: 0.8rem;
  padding-left: 2rem;
}

.footer-links a:hover {
  color: rgba(55, 62, 64, 1);
}
